{% extends 'base.html' %} {% block body %}
<table>
  <tr>
    <th style="width: 80%">Title</th>

    <th>Created At</th>
  </tr>
  {% for news in all_news %}
  <tr>
    <td><a href="/news/{{news.id}}">{{ news.title }}</a></td>

    <td>{{ news.created_at.date() }}</td>
  </tr>
  {% endfor %}
</table>

<!-- <div class="card-container-horizontal">
  {% for news in all_news %}
  <div class="card-news">
    <a href="/news/{{news.id}}"><div>{{ news.title }}</div></a>
     <div>{{ news.article[:10] }}...</div> 
    <div>{{ news.created_at.date() }}</div>
  </div>
  {% endfor %}
</div> -->
{% endblock %}
